@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap');
@import "tailwindcss";

@theme {
    --font-primary: 'Jost', sans-serif;
    --font-secondary: 'Orbitron', sans-serif;
    --font-size: 16px;
    --color-primary: #078ECE;
    --color-custom-grey: #6C6C6C;
}
